{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "assets": "./src/assets",
          "images": "./src/assets/images",
          "json": "./src/assets/json"
        }
      }
    ]
  ]
}